* {
    --color-fg: white;
    --color-bg-1: #171135;
    --color-bg-2: #261d4a;
    --color-tier-1: #2e2e2e;
    --color-tier-2: #640f24;
    --color-tier-3: #845d32;
    --color-tier-4: #5b155b;
    --color-tier-5: #0b3915;
    --color-tier-6: #0b2b39;
    --color-tier-7: #230b39;
}