* {
    color: var(--color-fg);
}

a:hover {
    color: var(--color-fg-hover);
}

a:active {
    color: color-mix(in srgb, var(--color-fg-hover), var(--color-bg-1) 20%);
}

html,
body {
    background-color: var(--color-bg-1);
}

body {
    max-width: clamp(70%, 800px, 90%);
    margin: 0 auto;
}

.tier-1 {
    --color-tier-color: var(--color-tier-1);
}

.tier-2 {
    --color-tier-color: var(--color-tier-2);
}

.tier-3 {
    --color-tier-color: var(--color-tier-3);
}

.tier-4 {
    --color-tier-color: var(--color-tier-4);
}

.tier-5 {
    --color-tier-color: var(--color-tier-5);
}

.tier-6 {
    --color-tier-color: var(--color-tier-6);
}

.tier-7 {
    --color-tier-color: var(--color-tier-7);
}

.tier {
    background-color: var(--color-tier-color);
    margin-top: 0.8rem;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 3rem 1fr;
}

.tier-elements {
    background-color: color-mix(in srgb, var(--color-tier-color), var(--color-bg-1) 60%);
    border-radius: 0 10px 10px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;

    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.tier-title {
    width: max-content;
    height: max-content;
    justify-self: center;
    margin: auto 0;
    color: var(--color-fg-tier);
    font-weight: bold;
}

.tier-element h3 {
    margin: 0;
    font-weight: normal;
}

.tier-element {
    min-width: var(--element-width, 8em);
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 8px;
    border: 1px solid hsl(from var(--color-tier-color) h s 60%);
    background-color: color-mix(in srgb, var(--color-tier-color), var(--color-bg-1) 80%);

    & *:hover {
        color: color-mix(in srgb, color-mix(in srgb, var(--color-tier-color), var(--color-fg) 70%), white 30%);
    }

    & *:active {
        color: color-mix(in srgb, color-mix(in srgb, var(--color-tier-color), var(--color-fg) 50%), white 30%);
    }
}

.embed-video {
    width: 100%;
    max-width: 222px;
    aspect-ratio: 16 / 9;
}

.embed-video {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid hsl(from var(--color-tier-color) h s 60%);
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 0.5em;
}

.embed-video-placeholder {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .tier-element {
        width: 100%;
    }

    .embed-video {
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .tier-element {
        width: 100%;
    }

    .embed-video {
        max-width: 100%;
    }
}

.nickname {
    text-decoration: none;
}

.main-header,
.sub-header {
    text-align: center;

    & > a {
        text-decoration: none;
    }
}

.main-header {
    font-size: 1.5rem;
    margin-top: 1em;
}

@media screen and (min-width: 700px) {
    .main-header {
        font-size: 2.5rem;
    }
}

.sub-header {
    font-weight: normal;
    margin-bottom: 1em;
}

// disable savefrom button
.nickname ~ span {
    display: none;
}

#refresh-button {
    padding: 0;
    width: 1em;
    cursor: pointer;
    margin-left: 0.5em;
    margin-bottom: 0.2em;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    outline: 0;

    &:hover * {
        color: var(--color-fg-hover);
    }

    &:active * {
        color: color-mix(in srgb, var(--color-fg-hover), var(--color-bg-1) 20%);
    }
}

.embed-video {
    display: none;
}

.header:has(#show-videos:checked) ~ .tierlist {
    --element-width: 16em;

    & .embed-video {
        display: grid;
    }
}

.control-panel {
    margin-left: .5rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;

    & > * {
        flex-shrink: 0;

        & > * {
            margin-right: .2rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    & > *:first-child {
        margin-right: auto;
    }
}

.color-theme-label {
    margin-right: .5rem;
}

.theme-switch {
    height: 1em;
    aspect-ratio: 1 / 1;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 2px 1px var(--color-fg);
    }
}

#theme-switch-1 {
    background-color: var(--color-1-bg-1);
    border: 1px solid color-mix(in srgb, var(--color-1-bg-1), var(--color-1-fg) 30%);
}

#theme-switch-2 {
    background-color: var(--color-2-bg-1);
    border: 1px solid color-mix(in srgb, var(--color-2-bg-1), var(--color-2-fg) 30%);
}

body.color-theme-1 #theme-switch-1::after,
body.color-theme-2 #theme-switch-2::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "";
    height: .2em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--color-fg);
}
