<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', path='/favicon.ico') }}" type="image/x-icon" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{ url_for('static', path='/js/dtl.js') }}"></script>
        <title>SPSB Dynamic Tier List</title>
    </head>
    <body>
        <h1 class="main-header">
            SPSB Dynamic Tier List
            <button id="refresh-button" type="button" title="Refresh" data-url="{{ url_for('refresh_tierlist') }}">
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon_large--kU97r"
                >
                    <path
                        d="M4.58 9H4V4l.58 5Zm0 0a8 8 0 0 1 15.36 2M4.58 9H9m10.42 6H20v5l-.58-5Zm0 0a8 8 0 0 1-15.36-2m15.36 2H15"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                </svg>
            </button>
        </h1>
        <h3 class="sub-header"><a href="{{ url_for('get_rules') }}">Rules</a></h3>
        <div class="tierlist">
            {% for tier, people in dtl["data"].items() %}
            <div class="tier tier-{{ loop.index }}">
                <h2 class="tier-title">{{ tier }}</h2>
                <div class="tier-elements">
                    {% for person in people %}
                    <div class="tier-element">
                        <h3><a class="nickname" href="{{ person['video_direct'] }}">{{ person['nickname'] }}</a></h3>
                        <div
                            class="embed-video embed-video-placeholder"
                            data-src-embed="{{ person['video_embed'] }}"
                            data-src-direct="{{ person['video_direct'] }}"
                        >
                            <p>Video</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
